body {
  overflow-x: hidden;
}

.clean-ul {
  list-style-type: none;
}

.clean-link,
.clean-link:active,
.clean-link:hover,
.clean-link:visited,
.clean-link:focus {
  text-decoration: none !important;
}

.hr-light {
  border: #fff 0.5px solid !important;
}

/* NAVBAR */

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

/* CAROUSEL */

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("../img/carousel_1.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../img/carousel_2.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../img/carousel_3.jpg");
  background-size: cover;
}

/* HOME HEADING */

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/carousel_1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

#home-heading ul {
  padding-inline-start: 0 !important;
}

@media (max-height: 650px) {
  #home-heading {
    min-height: 400px;
  }

  #home-heading h1 {
    margin-bottom: 20px;
  }
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ABOUT SECTION */

#page-header {
  height: 250px;
  background: url("../img/background.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-height: 650px) {
  #info {
    visibility: hidden;
  }

  #page-header {
    height: 150px;
  }
}

.about-img {
  margin-top: -50px;
}

/* FOOTER */

#main-footer {
  background: #000;
  color: #fff;
}

.copyright a {
  text-decoration: none;
  color: rgb(124, 47, 98);
}

/* MAP */
#map {
  height: 100%;
  width: 100%;
}

.map-container {
  height: 35rem;
}
